<div class="container">
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col-8 offset-md-2">
      <div class="summarize">
        <h1 class="justify-content-center d-flex">Meeting Summarizer</h1>

        <div class="recognition" *ngIf="recognitionStatus === 'FAILED' || recognitionStatus === 'SUCCESS'">
          <div class="recognition-result" *ngIf="recognitionStatus === 'SUCCESS'">
            <div class="alert alert-success">
              Recognition success!<br/>
              <strong>{{recognizedFileName}}</strong> successfully parsed.
            </div>
            <h4>Meeting summary</h4>
            <pre>{{recognitionSummary.join('\n\n\n')}}</pre>
            <hr>
          </div>
          <div class="recognition-result" *ngIf="recognitionStatus === 'FAILED'">
            <div class="alert alert-danger">
              Recognition failed!<br/>
              <strong>{{recognizedFileName}}</strong> not parsed.
            </div>
            <hr>
          </div>
        </div>

        <div class="recognition-pending" *ngIf="recognitionStatus === 'PENDING'">
          <div class="lds-hourglass"></div>
          Please wait... Loading
        </div>

        <form [formGroup]="form" (ngSubmit)="startRecognition()" *ngIf="recognitionStatus !== 'PENDING'">
          <div class="form-group">
            <label for="exampleInputEmail1">Your file</label>
            <input type="file" class="form-control" id="exampleInputEmail1"
                   (change)="onSelect($event)">
            <small id="emailHelp" class="form-text text-muted">.wav, .mp4</small>
          </div>
          <div class="form-group mt-3">
            <label for="exampleInputEmail1">Number of sentences</label>
            <input type="number" class="form-control" value="1" formControlName="sentences">
          </div>
          <div class="form-group mt-3">
            <label for="exampleInputEmail1">Algorithm</label>
            <select formControlName="algorithm" class="form-select">
              <option value="LsaSummarizer">LsaSummarizer</option>
              <option value="LexRankSummarizer">LexRankSummarizer</option>
              <option value="LuhnSummarizer">LuhnSummarizer</option>
              <option value="TextRankSummarizer">TextRankSummarizer</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary mt-3" [disabled]="form.invalid">Summarize!</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="ellipse"></div>
