.summarize {
  background: #fff;
  border: 1px solid #ccc;
  margin-top: 100px;
  padding: 20px;
  border-radius: 5px;
}

.ellipse {
  position: absolute;
  width: 616px;
  height: 616px;
  left: -559px;
  top: 600px;
  background: #5605D1;
  opacity: .9;
  filter: blur(244px);
  z-index: -1;
}

.recognition-pending {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

pre {
  white-space: break-spaces;
}
