<div class="container">
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col-8 offset-md-2">
      <div class="summarize">
        <h1 class="justify-content-center d-flex">Meeting Summarizer</h1>

        <form [formGroup]="form">
          <div class="form-group">
            <label for="exampleInputEmail1">Your file</label>
            <input type="file" class="form-control" id="exampleInputEmail1">
            <small id="emailHelp" class="form-text text-muted">.wav, .mp3</small>
          </div>
          <div class="form-group mt-3">
            <label for="exampleInputEmail1">Number of sentences</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group mt-3">
            <label for="exampleInputEmail1">Areas of interest</label>
            <input type="text" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary mt-3">Summarize!</button>

        </form>

      </div>

    </div>
  </div>
</div>

<div class="ellipse">

</div>
