<div class="container">
  <div class="row">
    <div class="col-8 offset-md-2">
      <div class="summarize">
        <h1 class="justify-content-center d-flex">Meeting Summarizer</h1>

        <form [formGroup]="form" (ngSubmit)="startRecognition()">
          <div class="form-group">
            <label for="exampleInputEmail1">Your file</label>
            <input type="file" class="form-control" id="exampleInputEmail1"
                   (change)="onSelect($event)">
            <small id="emailHelp" class="form-text text-muted">.wav, .mp4</small>
          </div>
          <div class="form-group mt-3">
            <label for="exampleInputEmail1">Number of sentences</label>
            <input type="number" class="form-control" value="1" formControlName="sentences">
          </div>
          <div class="form-group mt-3">
            <label for="exampleInputEmail1">Areas of interest</label>
            <input type="text" class="form-control" formControlName="areas">
          </div>
          <button type="submit" class="btn btn-primary mt-3" [disabled]="form.invalid">Summarize!</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="ellipse"></div>
